.navbar{
    background-color: orangered;
    padding: 10px 20px;
    margin: 10px;
    color: black;
}


.activeNavbar{
    background-color: burlywood;
    padding: 10px 20px;
    margin: 10px;
    color: black;
}